<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="com.gametime.jumpon" version="2.0">

	<name>Jump On</name>
	<description>Jump as high as you can.</description>
	<author href="http://ruzaini-game-time.blogspot.com/" email="ruzainibadrul@gmail.com">Muhammad Ruzaini bin Badrul Zaman</author>

	<icon src="icon-128.png" width="128" height="128" />
	<icon src="icon-256.png" width="256" height="256" gap:role="default" />

	<preference name="permissions" value="none"/>
	<preference name="android-targetSdkVersion" value="19" />

	<feature name="http://api.phonegap.com/1.0/network"/>
	<gap:plugin name="org.apache.cordova.media" />
	<preference name="orientation" value="portrait" />
	<preference name="fullscreen" value="true" />
	<preference name="target-device" value="universal" />

	<!-- Optional splash screen image, e.g.: -->
	<!-- <gap:splash src="splash.png" width="1024" height="768" /> -->

</widget>
